<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PharmCompanyDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\_projects\.Net\SpargoTech\PharmacyCompany\PharmacyCompany.DataBase\PharmCompanyDb.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>